* {
    box-sizing: border-box;
}

html,
#app {
    height: 100%;
}

body {
    min-height: 100vh;
    font-family: $font-family;
    margin: 0;
    overflow-x: hidden;
    color: $color-text;
    background-color: $color-background;
}

#app {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    max-width: none !important;
    min-height: 100vh;
    padding: 0;
    background-image: none;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    &:after {
        content: '';
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 0;
        pointer-events: none;
        background: rgba($color-background, 0.75);
        backdrop-filter: blur(10px);
    }
}

main {
    flex-shrink: 0;
}

footer {
    flex-shrink: 0;
    margin-top: auto;
}

h1 {
    @include text(h1);
    font-weight: $font-weight-bold;
    color: $color-text;
}

h2 {
    @include text(h2);
    font-weight: $font-weight-bold;
    color: $color-text;
}

h3 {
    @include text(h3);
    font-weight: $font-weight-bold;
    color: $color-text;
}

p {
    @include text(p1);
    color: $color-text;
    margin-top: 0;
}

strong,
b {
    font-weight: $font-weight-bold;
}

ul,
li {
    list-style: none;
}

.vel-modal {
    background-color: rgba($color-background, 0.95) !important;

    .vel-img {
        @include bp(m) {
            min-width: 512px;
            min-height: 512px;
        }
    }
}
