.generated-image {
    cursor: pointer;
    transition: transform $duration-medium;

    @include bp(l) {
        &:hover,
        &:focus {
            transform: translateY(-5px);
        }
    }
}
